.env.local
.env.*.local
node_modules/
.DS_Store
.flutter-plugins
.flutter-plugins-dependencies
build/
dist/
.dart_tool/
.packages
.idea/
.vscode/
*.iml
*.lock
Podfile.lock
.gradle/
.classpath
.project
.settings/
private.xml
public/
*.jks
*.keystore
provisioning/
.env
